/pytorch3d
/dataset/Obama_1/com_imgs
/dataset/Obama_1/debug
/dataset/Obama_1/head_imgs
/dataset/Obama_1/ori_imgs
/dataset/Obama_1/parsing
/dataset/Obama_1/logs/Obama_1_com/testset_010000
/dataset/Obama_1/logs/Obama_1_com/010000_head.tar

/dataset/Obama_3/com_imgs
/dataset/Obama_3/debug
/dataset/Obama_3/head_imgs
/dataset/Obama_3/ori_imgs
/dataset/Obama_3/parsing
/dataset/Obama_3/logs/Obama_3_com/testset_010000
/dataset/Obama_3/logs/Obama_3_com/010000_head.tar

/dataset/train_1/com_imgs
/dataset/train_1/debug
/dataset/train_1/head_imgs
/dataset/train_1/ori_imgs
/dataset/train_1/parsing
/dataset/train_1/logs/train_1_com/testset_010000
/dataset/train_1/logs/train_1_com/010000_head.tar

/data_util/face_tracking/3DMM/01_MorphableModel.mat
/data_util/face_tracking/3DMM/3DMM_info.npy